<div class="header">
  <p>กรุณากรอกข้อมูลอะไหล่สำหรับอะไหล่ใหม่ในคลังอะไหล่</p>
</div>


<div class="container">
  <!-- sparepart registeration form     -->
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="reactiveForm" ngNativeValidate>

    <label for="barcode">
      <span>บาร์โค้ด</span>
      <input type="text" id="barcode" name="barcode" class="form-control" formControlName="barcode"
        placeholder="ระบุรหัสแท่งของอะไหล่">
      <button type="button" (click)="checkBarcode()">ตรวจสอบ <mat-icon>check_circle</mat-icon></button>
    </label><!-- choose group for sparepart-->

    <label for="group"><span>กลุ่มอะไหล่</span>
      <select id="group" name="group" class="form-control" formControlName="group">
        <option value="01" id="internals">อะไหล่ภายใน</option>
        <option value="02" id="electrics">ระบบไฟฟ้า</option>
        <option value="03" id="externals">อะไหล่ภายนอก</option>
        <option value="04" id="generals">อะไหล่ทั่วไป</option>
      </select>
    </label>

    <!--enter name of sparepart-->

    <!--1st version-->
    <!-- <label for="name">ชื่ออะไหล่</label>
      <input type="radio" name="name" value="normal" (click)="setNormalName()" checked>
      <select id="normalName" name="normalName" class="form-control" 
        (change)="updateDropdown()" formControlName="normalName">
        <option [value]="name.name" *ngFor="let name of nameList">{{name.name}}</option>
      </select>
      <label for="customName">อื่น ๆ</label><input type="radio" name="name" value="normal" (click)="setCustomName()">
      <input type="text" id="customName" name="customName" class="form-control"
        formControlName="customName">-->
    <!--2 nd version-->
    <label for="name"><span>ชื่ออะไหล่</span>
      <input (change)="updateDropdown()" type="text" id="name" name="name" class="form-control" formControlName="name"
        placeholder="เช่น ยางใน แบตเตอรี่">
    </label>

    <!--enter brand of sparepart-->

    <label><span>ยี่ห้อ</span>
      <label for="normalbrand"><span><input type="radio" name="brand" value="normal" (click)="setNormalBrand()"
            checked>ทั่วไป</span>
        <select id="normalBrand" name="normalBrand" class="form-control" formControlName="normalBrand">
          <option [value]="brand" *ngFor="let brand of brandList">{{brand}}</option>
        </select></label>
      <label for="customBrand"><span><input type="radio" name="brand" value="normal" (click)="setCustomBrand()">
          อื่นๆ</span><input type="text" id="customBrand" name="customBrand" class="form-control"
          formControlName="customBrand"></label>
    </label>



    <!--enter version of sparepart-->

    <label for="version"><span>รุ่นอะไหล่</span>
      <label><span><input type="radio" name="vers" value="normal" (click)="setNormalVersion()" checked>รุ่นปกติ</span>

        <select id="normalVersion" name="normalVersion" class="form-control" formControlName="normalVersion">
          <option [value]="version" *ngFor="let version of versionList">{{version}}</option>
        </select></label>
      <label><span><input type="radio" name="vers" value="custom" (click)="setCustomVersion()">อื่นๆ</span>

        <input type="text" id="customVersion" name="customVersion" class="form-control" formControlName="customVersion"
          placeholder="ระบุรุ่นของอะไหล่"></label>
    </label>



    <label for="version"><span>ข้อมูลจำเพาะ</span>
      <label><span><input type="radio" name="specs" value="normal" (click)="setNormalSpecs()" checked>ปกติ</span>

        <select id="normalSpecs" name="normalSpecs" class="form-control" formControlName="normalSpecs">
          <option [value]="specs" *ngFor="let specs of specificList">{{specs}}</option>
        </select></label>
      <label><span> <input type="radio" name="specs" value="custom" (click)="setCustomSpecs()">อื่นๆ</span>

        <input type="text" id="customSpecs" name="customSpecs" class="form-control" formControlName="customSpecs"
          placeholder="ระบุข้อมูลจำเพาะ"></label>
    </label>


    <!--enter sparepart barcode(optional)-->


    <!--enter purchase price of sparepart-->


    <label for="purchase"><span>ราคาซื้อ </span><input (change)="genPrice()" type="text" id="purchase" name="purchase"
        class="form-control" placeholder="ระบุราคาซื้อ (บาท)" formControlName="purchase" required></label>





    <!--enter price for sale of the sparepart-->


    <label for="price"><span>ราคาขาย </span> <input type="text" id="price" name="price" class="form-control"
        placeholder="ระบุราคาขาย (บาท)" formControlName="price" required>
    </label>




    <!--enter initial number of that sparepart-->

    <label for="numberOf"><span>จำนวนอะไหล่ </span><input type="number" min="1" id="numberOf" name="numberOf" class="form-control"
        formControlName="numberOf">
    </label>
    <label for="numberOf"><span>ยอดขั้นต่ำ</span> <input type="number" min="1" id="threshold" name="threshold" class="form-control"
        formControlName="threshold">
    </label>

    <!--submit the form-->

    <input type="submit" value="บันทึก">

  </form>


</div>
<div class="reviewBox" id="formResultWindow">
  <div class="reviewBoxPanel">
    <div class="reviewBoxContent" id="formResult">
      <!--review content-->
    </div>
    <div id="choicePanel">
      <button (click)="cancelRegist()">ยกเลิก</button> <button (click)="acceptRegist()">ยืนยัน</button>
    </div>
  </div>

</div>