<div class="header">
   <p>กรุณากรอกข้อมูลอะไหล่สำหรับอะไหล่ใหม่ในคลังอะไหล่</p>
</div>  

 
<div class="container">
<!-- sparepart registeration form     -->
  <form   #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
  <!-- choose group for sparepart-->
  <div id="row">
       <label for="group">กลุ่มอะไหล่</label>
     <select id="group" name="group" class="form-control" ngModel>
        <option value="01" id ="internals">อะไหล่ภายใน</option>
        <option value="02" id = "electrics">ระบบไฟฟ้า</option>
        <option value="03" id = "externals">อะไหล่ภายนอก</option>
        <option value="04" id =  "generals">อะไหล่ทั่วไป</option>
      </select>    
 
  </div>
  <!--enter name of sparepart-->
  <div id="row" class="form-group">
  
      <label for="name">ชื่ออะไหล่</label>
      <input type="radio"  name="name" value="normal" (click)="setNormalName()"  checked>
      <select id="normalName"  name="normalName" class="form-control" [disabled]="notCustomName" (change)="updateDropdown()" ngModel>
          <option [value]="name.name" *ngFor="let name of nameList">{{name.name}}</option>
      </select>
      <label for="customBrand">อื่น ๆ</label><input type="radio" name="name" value="normal" (click)="setCustomName()"  >
      <input type="text" id= "customName" name ="customName" class="form-control" [disabled]="customName" ngModel>      
   
       
  </div>

  <!--enter brand of sparepart-->
  <div id="row" class="form-group" >
     
      <label  >ยี่ห้อ</label> 
      <label for="normalbrand">ทั่วไป</label>
      <input type="radio"  name="brand" value="normal" (click)="setNormalBrand()"  checked>
      <select id="normalBrand"  name="normalBrand" class="form-control" [disabled]="notCustomBrand"  ngModel>
          <option [value]="brand" *ngFor="let brand of brandList">{{brand}}</option>
      </select>
          
     <label for="customBrand">อื่น ๆ</label><input type="radio" name="brand" value="normal" (click)="setCustomBrand()"  >
     <input type="text" id= "customBrand" name ="customBrand" class="form-control" [disabled]="customBrand" ngModel>
       
   
  </div>

  <!--enter version of sparepart-->
  <div id="row" class="form-group">
  
      <label for="version">รุ่น (รุ่นของรถ/อะไหล่)</label>
      <label>รุ่นปกติ</label>
      <input type="radio"  name="vers" value="normal" (click)="setNormalVersion()"  checked>
      <select id="normalVersion" name ="normalVersion"class="form-control" [disabled]="notCustomVersion" ngModel>
        <option [value]="version" *ngFor="let version of versionList">{{version}}</option>
    </select>
    <label>รุ่นอื่นๆ</label>
      <input type="radio"  name="vers" value="custom" (click)="setCustomVersion()">   
    <input type="text" id="customVersion" name="customVersion" class="form-control" [disabled]="customVersion" ngModel placeholder="ระบุรุ่นของอะไหล่">
  </div>
  <div id="row" class="form-group" >
     <label>ข้อมูลจำเพาะ</label>
     <label for="version">รุ่น (รุ่นของรถ/อะไหล่)</label>
     <label>ปกติ</label>
     <input type="radio"  name="specs" value="normal" (click)="setNormalSpecs()"  checked>
     <select id="normalSpecs" name ="normalSpecs"class="form-control" [disabled]="notCustomSpecs" ngModel>
       <option [value]="specs" *ngFor="let specs of specificList">{{specs}}</option>
   </select>
   <label>อื่น ๆ</label>
     <input type="radio"  name="specs" value="custom" (click)="setCustomSpecs()">   
   <input type="text" id="customSpecs" name="customSpecs" class="form-control" [disabled]="customSpecs" ngModel placeholder="ระบุข้อมูลจำเพาะ">
 
  </div>

  <!--enter sparepart barcode(optional)-->
  <div id="row" class="form-group">
 
      <label for="barcode">บาร์โค้ด</label>
      <input type="text" id="barcode" name="barcode" class="form-control" ngModel placeholder="ระบุรหัสแท่งของอะไหล่">
   <button (click)="checkBarcode()">ตรวจสอบ</button>
  

  <!--enter purchase price of sparepart-->
  
 
      <label for="purchase">ราคาซื้อ</label>
 
      <input type="text" id="purchase" name="purchase" class="form-control"placeholder="ระบุราคาซื้อ (บาท)" ngModel required>
   
 

  <!--enter price for sale of the sparepart-->
  
 
      <label for="price">ราคาขาย</label>
 
      <input type="text" id="price" name="price" class="form-control" placeholder="ระบุราคาขาย (บาท)" ngModel required>
 
  </div>
  <br>
  <!--enter initial number of that sparepart-->
  <div id="row" class="form-group">   
      <label for="numberOf">จำนวน</label>
      <input type="text" id="numberOf" name="numberOf" class="form-control" ngModel placeholder="จำนวนอะไหล่">
 
  </div>
  <!--submit the form-->
     <br>
    <input type="submit" value="บันทึก"  >
 
  </form>


</div>

<div id="formResult">
<!--show result of submitted form before accept-->    
</div>
<div>
    <p *ngIf="accept" >ยืนยันการทำรายการ</p>
    <div  id="acceptForm">
        <input *ngIf="accept" type="button" value="ยืนยัน" (click)="acceptForm()">
    </div>
</div>