<!--Side navigation bar drawer-->
<mat-toolbar>
  <mat-icon mat-button (click)="drawer.toggle()">
    {{ drawer.opened ? 'close' : 'menu'}}</mat-icon>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!--<h6>{{message}}</h6>-->
    <div id="menuList">
      <ul>
        <li *ngFor="let menuitem of menuitems" routerLinkActive="active" [ngSwitch]="menuitem.path">
          <a [routerLink]="menuitem.path" [id]="[menuitem.aId]">
            <div class="anchortext">
              <mat-icon [id]="[menuitem.text]" matBadge="{{ notifyNO > 0 ? notifyNO : null }}" matBadgeOverlap="true"
                *ngSwitchCase="'notification'">{{menuitem.icon}}</mat-icon>
              <mat-icon [id]="[menuitem.text]" matBadge="{{ orderingNO > 0 ? orderingNO : null }}"
                matBadgeOverlap="true" *ngSwitchCase="'ordering'">{{menuitem.icon}}</mat-icon>
              <mat-icon matBadge="{{ null }}" matBadgeOverlap="false" *ngSwitchDefault>{{menuitem.icon}}</mat-icon>
              <span class="menuText" *ngIf="expand">{{menuitem.component}}</span>
            </div>
          </a>
        </li>

      </ul>

    </div>

    <footer>
      <mat-icon mat-button (click)="expand = !expand">{{ expand ? 'arrow_back' : 'arrow_forward'}}</mat-icon>
    </footer>

  </mat-drawer>


  <div class="display-panel">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>