<h3>รายการล่าสุดรายวัน</h3>

<div class="container">
    
<div class="card-box">
<!--updating function for increasing  the number of specific sparepart -->   
<h5>เพิ่มจำนวนอะไหล่ในคลัง</h5>
<!--กลุ่มอะไหล่ <select id="pgroup" name="pgroup">
            <option value="00">internals</option>
            <option value="03">externals</option>
            <option value="02">electrics</option>
            <option value="04">generals</option>
         </select>-->
<br>      
รหัสอะไหล่  <input  type="text" id="part_code" (change)="checkCode()">    
<br>
จำนวน    <input  type="text" id="amount">
<br>
<input type="button" (click)="updateAmount()" value="update">

</div>

<!--sales function for sale sparepart(s)-->
<div class="card-box">   
    <form id="updateForm">
    <h5>จำหน่ายอะไหล่</h5>
<!--    กลุ่มอะไหล่ <select id="sale_group" name="pgroup">
                    <option value="00">internals</option>
                    <option value="03">externals</option>
                    <option value="02">electrics</option>
                    <option value="04">generals</option>
    </select>-->
    <br>      
    รหัสอะไหล่  <input  type="text" id="sale_code">
    <br>    
    จำนวน    <input  type="text" id="sale_amount">
    <br>
    <input type="button" (click)="salePart()" value="sale">
     </form>
</div>
<div class="card-box" id="partInfomation">ข้อมูลอะไหล่
   <div id="partInfo"></div> 
</div>
<div class="card-box" id="report">รายงานข้อมูล
    <div id="reportGenerator"><button>report</button></div> 
 </div>
 
</div>




  <div class="container">
    <div id="chart"class="card-box">
        <chart [type]="typeExternalsChart" [data]="externalsChart" [options]="optionsExternalsChart"></chart>
    </div>
    <div id="chart"class="card-box">
        <chart [type]="typeExternalsChart" [data]="internalsChart" [options]="optionsExternalsChart"></chart>
    </div>
    <div id="chart"class="card-box">
        <chart [type]="typeExternalsChart" [data]="electricsChart" [options]="optionsExternalsChart"></chart>
    </div>
    <div id="chart"class="card-box">
        <chart [type]="typeExternalsChart" [data]="generalsChart" [options]="optionsExternalsChart"></chart>
    </div>
</div>
 

