.notify{
  overflow: scroll;
    height: 75%;  
}
mat-card{
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
 
    box-shadow: 10px 20px 30px rgba(0,0,0,0.2);
    transition: 3s;
    border-radius: 10px;
 }
.orange{
  background-color: orange;
  color: black;

}
.red{
  background-color: crimson;

} 
.yellow{
  background-color: yellow;
  color: black;
}
button{
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 154, 154); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 154, 154); 
  border-radius: 10px;
}